# sensitive files to ignore
/documents/ask_recruiters_list.xlsx
/documents/companies_submitted_apps_to.xlsx
/documents/follow_up_recruiters_list.xlsx
/documents/dummy.xlsx
/documents/Cracking-the-Coding-Interview-189-Programming-Questions-and-Solutions-6th-Edition.pdf
/documents/behavioral-interview-questions.md
/documents/*.txt
/documents/*.docx

/.env
/apps/data/
/apps/embeddings/

# files to exclude
!/apps/embeddings/dummy

/assets/isentia
/assets/media-meter
/assets/medriskLLC
/assets/pdax
/assets/SID
/assets/z-lift-solutions
/assets/datung-machine-problem
/assets/unionbank
/assets/nasdaq
/assets/relx
/assets/dynamic technology labs
/assets/atlantis-consulting
/assets/information professionals inc
/assets/LarryMiguelCueva_Data MiniProject20251031
/assets/LarryMiguelCueva_Data MiniProject20251031.zip
/assets/information professionals inc
/assets/Gcash